* {
    margin: 0;
    padding: 0;
    /*Scrollbar for firefox and others*/
    scrollbar-color: rgba(6, 0, 90, 0.85) #f4f4f4;
    scrollbar-width: thin;
} 

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
    /*Scrollbar for chrome and others*/
*::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.356);
}
*::-webkit-scrollbar {
    width: 6px;
    background: #f4f4f4;
}
*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.85);
    border-radius: 20px;
}

/*TODO GENERAL*/
a {
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/*?HEADER*/
.header {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 55px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
}

.content-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0 2vw;
}

/*?LOGO*/
#logo {
    display: flex;
    height: 100%;
    align-items: center;
}

/*?TOP MENU*/
.top-bar,
.top-bar-nav ul,
li,
a {
    display: flex;
    height: 55px;
    align-items: center;
}

.top-bar-nav ul li a {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding: 0 15px;
    position: relative;
}

.top-bar-nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 7px;
    left: 50%;
    width: 0;
    height: 3px;
    background: white;
    transition: all 0.5s ease-in-out;
}

.top-bar-nav ul li a:hover::after {
    left: 12.5%;
    width: 75%;
}

/**MAIN*/
.main-content {
    height: 100vh;
    width: 100vw;
}

/**SECTION ONE*/
#one {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.one {
    display: flex;
    background-image: url("./img/section-one.svg");
    background-size: cover;
    background-position: center center;
    justify-content: center;
}

.content-one {
    max-width: 1200px;
    display: flex;
    align-items: center;
}

.white-tittle{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 80px;
    font-weight: 900;
    color: white;
    text-shadow: 5px 5px 2px rgba(255, 255, 255, 0.479);
}

.left-text {
    width: 50%;
    margin: 5%;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
}

.img-section-one {
    width: 50%;
}

#img-section-one {
    width: 100%;
}

/**SECTION TWO*/
.two{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-two{
    margin: 0 50px;
    width: 100%;
    max-width: 1200px;
}

.black-tittle, .content-two p{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 90) ;
    margin: 0 50px;

}

#profile{
    padding: 20px;
    margin: 0 auto;
    width: 30%;
}

/**SECTION THREE*/
.three{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(138,43,226,1) 0%, rgba(1,3,17,1) 100%);
}
.lottie-section-three{
    display: flex;
    position: absolute;
}

.content-three{
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-top: 55px;
    max-width: 1200px;
    width: 90%;
    height: 800px;
}

#line-center{
    margin: 0 auto;
    height: 100%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

.card{
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

